<div>
  <ng-container *ngFor="let cluster of clusterList;let index = index;trackBy: trackByIndex;">
    <div>
      <div class=" collapse-division" style="clear: none;">
        <label class="collapse-division-label" style="text-align: center">
          <i (click)="removeCluster(index)" style="color: white" class="material-icons float-left">
            remove_circle_outline
          </i>
          <a style="padding-left: 5px; color: white;" data-toggle="collapse"
             href="#Cluster{{index}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{cluster.cluster_name}}
            <i class="material-icons float-right">
              keyboard_arrow_down
            </i>
          </a>
        </label>
        <div class="collapse" id="Cluster{{index}}">
          <div class="card card-body" id="clusterForm">
            <mat-form-field style="width: 100%">
              <mat-label>Cluster Type</mat-label>
              <mat-select [(ngModel)]=clusterType>
                <mat-option value="RTU">RTU</mat-option>
                <mat-option value="AUS">AUS</mat-option>
                <mat-option value="LIGHT">LIGHT</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Cluster Priority"
                     [(ngModel)]=cluster.cluster_priority name="clusterPtiority"></mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput id="pairwiseCriteriaFile" placeholder="Pairwise criteria File"
                     [(ngModel)]=cluster.pairwise_criteria_file name="pairwiseCriteria"></mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput id="deviceCrteriaFile" placeholder="Device Criteria File"
                     [(ngModel)]=cluster.device_criteria_file name="devceCriteriaFile"></mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput id="deviceCurtailmentFile" placeholder="Device Curtailment file"
                     [(ngModel)]=cluster.device_curtailment_file name="deviceCurtailment"></mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row" *ngIf="getCluster" style="margin-bottom: 2%">
  <mat-form-field class="example-full-width rounded-left" style="width: 80%; margin-left: 20px;
  background-color: white; padding-left: 5%; padding-right: 5%; padding-top: 3%">
    <input matInput placeholder="Enter Criteria Name Here" [(ngModel)]="clusterName">
  </mat-form-field>
  <button (click)="addCluster()" style="color: #1BA781; background-color: white; border: none"
          class="material-icons float-right round"> check
  </button>
</div>

<a href="#" id="addCluster" (click)="newCluster()"
         style="alignment: center; color:#B3DAF2;"><i class="material-icons float-left">
  add
</i>Add Device Cluster
</a>

