.division {
  float: left;
  width: 29%;
  margin-left: 50px;
}

.collapse-division {
  margin-top: 10px;
  margin-bottom: 10px;
}

.collapse-division-label {
  width: 100%;
}

textarea {
  margin-top: 2%;
  background-color: lightgray;
  width: 90%;
  height: 80%;
}

.div-inbetween-padding {
  margin-top: 5%;
}


.button-size {
  width: 100px;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
}
