<div class="accordion" id="accordionExample" style="height: 80%; margin-left: 2%; margin-right: 2%; margin-top: 2%;">
  <ng-container *ngFor="let cluster of clusterList;let i = index;trackBy: trackByIndex;">

    <div class="card" style="margin-bottom: 3%; border: none">
      <div class="card-header" id="headingOne"
           style="text-align: center;background-color: #003114">
        <label class="collapse-division-label">
          <a data-toggle="collapse" href="#demo{{i}}" role="button" aria-expanded="false" aria-controls="zoneTemp">
            {{cluster.device_control_file}}  <i class="material-icons float-right" style="font-size: 30px;">
            keyboard_arrow_down
          </i>
          </a>
        </label>
      </div>
      <div id="demo{{i}}" class="collapse" aria-labelledby="headingOne"
           data-parent="#accordionExample" style="background-color: #0E2338">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="collapse-division">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#ilcConfig{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    ILC Config <i id="ilcConfigIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="ilcConfig{{i}}">
                  <div class="card card-body">
                    <h6>Current Device Topic Stem</h6>
                    <h6>CAMPUS/BUILDING</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#criteria{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Criteria <i id="criteriaIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="criteria{{i}}">
                  <div class="card card-body">
                    <h5>Ctriteria Names</h5>
                    <ng-container *ngFor="let criteria of criteriaList">
                      <h6>{{criteria}}</h6>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#Devices{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Devices <i id="deviceIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="Devices{{i}}">
                  <div class="card card-body">
                    <ul style="list-style-type:none;">
                      <li *ngFor="let device of devices[i];">
                        <h6>{{device.deviceName}}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#pointNames{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Point Names <i id="pointNamesIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="pointNames{{i}}">
                  <div class="card card-body">
                    <h6>AverageZomeTemperature</h6>
                    <h6>CoolingTemperatureSetPoint</h6>
                    <h6>FirstStageCooling</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <h5>Criteria Configuration</h5>

              <div>
                <ng-container
                  *ngFor="let list of curtailmentModelList[i].curtailmentList;let index = index;trackBy: trackByIndex;">
                  <div class="collapse-division">
                    <label class="collapse-division-label">
                      <a data-toggle="collapse" href="#{{index}}{{i}}" role="button"
                         aria-expanded="false" aria-controls="zoneTemp">
                        {{devices[i][index].deviceName}}
                        {{campus}} / {{building}} / {{devices[i][index].deviceName}}
                        <i class="material-icons float-right">
                          keyboard_arrow_down
                        </i>
                      </a>
                    </label>
                    <div class="collapse" id="{{index}}{{i}}">
                      <div class="card card-body">
                        <div>

                          <h5 style="color: black">Device Status</h5>


                          <div>
                            <ul class="list-unstyled">
                              <li *ngFor="let arg of curtailmentModelList[i].curtailmentList[index].device_status.curtail.device_status_args; let s = index;trackBy: trackByIndex;">

                                <mat-form-field style="width: 100%">
                                  <mat-label>Device Status Argument</mat-label>
                                  <mat-select [(ngModel)]=curtailmentModelList[i].curtailmentList[index].device_status.curtail.device_status_args[s]>
                                    <div *ngFor="let point of devices[i][index].devicePoints">
                                      <mat-option value="{{point}}">{{point}}</mat-option>
                                    </div>
                                  </mat-select>
                                </mat-form-field>

                                <!--                      <mat-form-field style="width: 100%" class="example-full-width">-->
                                <!--                        <input matInput placeholder="Demand Formula Arguments (Optional)"-->
                                <!--                               [(ngModel)]="demandformulaAgrsArr[index]"></mat-form-field>-->
                              </li>
                            </ul>
                            <a href="#" id="addparam" (click)="addStatusArgument(i, index)" class="float-left" style="color: #1BA781">
                              <i class="material-icons float-left">add</i> Add device Status Argument
                            </a>
                          </div>


<!--                          <mat-form-field style="width: 100%">-->
<!--                            <mat-label>Device Status Argument</mat-label>-->
<!--                            <mat-select-->
<!--                              [(ngModel)]=curtailmentModelList[i].curtailmentList[index].device_status.curtail.device_status_args>-->
<!--                              <div *ngFor="let point of devices[i][index].devicePoints">-->
<!--                                <mat-option value="{{point}}">{{point}}</mat-option>-->
<!--                              </div>-->
<!--                            </mat-select>-->
<!--                          </mat-form-field>-->

                          <!--                          <mat-form-field style="width: 100%" class="example-full-width">-->
                          <!--                            <input matInput placeholder="Device Status Arguments "-->
                          <!--                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].device_status.curtail.device_status_args">-->
                          <!--                          </mat-form-field>-->

                          <mat-form-field style="width: 100%" class="example-full-width">
                            <input matInput placeholder="Condition"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].device_status.curtail.condition">
                          </mat-form-field>
                          <div>
                            <button id="addparamaugment"
                                    (click)="showAugmentSection(i, index)"
                                    type="button"
                                    class="btn btn-info btn-sm">
                              Add Augment Section
                            </button>
                          </div>

                          <div style="padding: 1%" class="border border-secondary"
                               *ngIf="curtailmentModelList[i].showAugmentSection[index]">
                            <h6>Augment Section</h6>

                            <div>
                              <ul class="list-unstyled">
                                <li *ngFor="let argu of curtailmentModelList[i].curtailmentList[index].device_status.augment.device_status_args;
                                 let a = index;trackBy: trackByIndex;">

                                  <mat-form-field style="width: 100%">
                                    <mat-label>Device Status Argument</mat-label>
                                    <mat-select [(ngModel)]=curtailmentModelList[i].curtailmentList[index].device_status.augment.device_status_args[a]>
                                      <div *ngFor="let points of devices[i][index].devicePoints">
                                        <mat-option value="{{points}}">{{points}}</mat-option>
                                      </div>
                                    </mat-select>
                                  </mat-form-field>

                                  <!--                      <mat-form-field style="width: 100%" class="example-full-width">-->
                                  <!--                        <input matInput placeholder="Demand Formula Arguments (Optional)"-->
                                  <!--                               [(ngModel)]="demandformulaAgrsArr[index]"></mat-form-field>-->
                                </li>
                              </ul>
                              <a href="#" id="addaugmentparam" (click)="addAugmentStatusArgument(i, index)" class="float-left" style="color: #1BA781">
                                <i class="material-icons float-left">add</i> Add device Status Argument
                              </a>
                            </div>


<!--                            <mat-form-field style="width: 100%">-->
<!--                              <mat-label>Device Status Argument</mat-label>-->
<!--                              <mat-select-->
<!--                                [(ngModel)]=curtailmentModelList[i].curtailmentList[index].device_status.augment.device_status_args>-->
<!--                                <div *ngFor="let point of devices[i][index].devicePoints">-->
<!--                                  <mat-option value="{{point}}">{{point}}</mat-option>-->
<!--                                </div>-->
<!--                              </mat-select>-->
<!--                            </mat-form-field>-->


                            <mat-form-field style="width: 100%" class="example-full-width">
                              <input matInput placeholder="Condition"
                                     [(ngModel)]="curtailmentModelList[i].curtailmentList[index].device_status.augment.condition">
                            </mat-form-field>
                          </div>

                          <h5 style="color: black">Curtailment Setting</h5>


                          <mat-form-field style="width: 100%">
                            <mat-label>Point</mat-label>
                            <mat-select
                              [(ngModel)]=curtailmentModelList[i].curtailmentList[index].curtail_setting.point>
                              <div *ngFor="let point of devices[i][index].devicePoints">
                                <mat-option value="{{point}}">{{point}}</mat-option>
                              </div>
                            </mat-select>
                          </mat-form-field>


                          <mat-form-field style="width: 100%">
                            <mat-label>Curtailment Method</mat-label>
                            <mat-select
                              [(ngModel)]=curtailmentModelList[i].curtailmentList[index].curtail_setting.control_method>
                              <mat-option value="offset">Offset</mat-option>
                              <mat-option value="value">Value</mat-option>
                              <mat-option value="equation">Equation</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field style="width: 100%" class="example-full-width"
                                          *ngIf="curtailmentModelList[i].curtailmentList[index].curtail_setting.control_method == 'offset' ">
                            <input type="number" matInput placeholder="Offset"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtail_setting.offset">
                          </mat-form-field>
                          <mat-form-field style="width: 100%" class="example-full-width"
                                          *ngIf="curtailmentModelList[i].curtailmentList[index].curtail_setting.control_method == 'value' ">
                            <input type="number" matInput placeholder="Value"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtail_setting.value">
                          </mat-form-field>
                          <mat-form-field style="width: 100%" class="example-full-width"
                                          *ngIf="curtailmentModelList[i].curtailmentList[index].curtail_setting.control_method == 'equation' ">
                            <input type="number" matInput placeholder="Equation"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtail_setting.equation">
                          </mat-form-field>

                          <mat-form-field style="width: 100%" class="example-full-width">
                            <input type="number" matInput placeholder="Load"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtail_setting.load">
                          </mat-form-field>

                          <div>
                            <button id="addparamaugmentSetting"
                                    (click)=showAugmentSettingSection(i,index)
                                    type="button"
                                    class="btn btn-info btn-sm">
                              Add Augment Setting Section
                            </button>
                          </div>

                          <div *ngIf="curtailmentModelList[i].showAugmentSeetingSection[index]">


                            <mat-form-field style="width: 100%">
                              <mat-label>Point</mat-label>
                              <mat-select
                                [(ngModel)]=curtailmentModelList[i].curtailmentList[index].augment_setting.point>
                                <div *ngFor="let point of devices[i][index].devicePoints">
                                  <mat-option value="{{point}}">{{point}}</mat-option>
                                </div>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                              <mat-label>Curtailment Method</mat-label>
                              <mat-select
                                [(ngModel)]=curtailmentModelList[i].curtailmentList[index].augment_setting.control_method>
                                <mat-option value="offset">Offset</mat-option>
                                <mat-option value="value">Value</mat-option>
                                <mat-option value="equation">Equation</mat-option>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field style="width: 100%" class="example-full-width"
                                            *ngIf="curtailmentModelList[i].curtailmentList[index].augment_setting.control_method == 'offset' ">
                              <input type="number" matInput placeholder="Offset"
                                     [(ngModel)]="curtailmentModelList[i].curtailmentList[index].augment_setting.offset">
                            </mat-form-field>
                            <mat-form-field style="width: 100%" class="example-full-width"
                                            *ngIf="curtailmentModelList[i].curtailmentList[index].augment_setting.control_method == 'value' ">
                              <input type="number" matInput placeholder="Value"
                                     [(ngModel)]="curtailmentModelList[i].curtailmentList[index].augment_setting.value">
                            </mat-form-field>
                            <mat-form-field style="width: 100%" class="example-full-width"
                                            *ngIf="curtailmentModelList[i].curtailmentList[index].augment_setting.control_method == 'equation' ">
                              <input type="number" matInput placeholder="Equation"
                                     [(ngModel)]="curtailmentModelList[i].curtailmentList[index].augment_setting.equation">
                            </mat-form-field>
                            <mat-form-field style="width: 100%" class="example-full-width">
                              <input type="number" matInput placeholder="Load"
                                     [(ngModel)]="curtailmentModelList[i].curtailmentList[index].augment_setting.load">
                            </mat-form-field>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <!--              </ng-container>-->
            </div>
            <div class="col-sm">
              <div class="row">
                <h5 style="margin-left: 3%">File Preview</h5>
                <button style="margin-left: 3%" class="btn  button-size"
                        (click)="onRefreshButton(i)">Refresh
                </button>
                <button style="margin-left: 3%" class="btn  button-size"
                        (click)="saveCurtailmentCalculation(i)">Save
                </button>
              </div>
              <textarea id="checktext">
          {{curtailmentModelList[i].setFinalCalulation()}}
          </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>







