<div class="accordion" id="accordionExample" style="height: 80%; margin-left: 2%; margin-right: 2%; margin-top: 2%;">
  <ng-container *ngFor="let cluster of clusterList;let i = index;trackBy: trackByIndex;">

    <div class="card" style="margin-bottom: 3%; border: none">
      <div class="card-header" id="headingOne"
           style="text-align: center;background-color: #003114">
        <label class="collapse-division-label">
          <a data-toggle="collapse" href="#demo{{i}}" role="button" aria-expanded="false" aria-controls="zoneTemp">
            {{cluster.device_curtailment_file}}  <i class="material-icons float-right" style="font-size: 30px;">
            keyboard_arrow_down
          </i>
          </a>
        </label>
      </div>
      <div id="demo{{i}}" class="collapse" aria-labelledby="headingOne"
           data-parent="#accordionExample" style="background-color: #0E2338">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="collapse-division">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#ilcConfig{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    ILC Config <i id="ilcConfigIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="ilcConfig{{i}}">
                  <div class="card card-body">
                    <h6>Current Device Topic Stem</h6>
                    <h6>CAMPUS/BUILDING</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#criteria{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Criteria <i id="criteriaIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="criteria{{i}}">
                  <div class="card card-body">
                    <h5>Ctriteria Names</h5>
                    <ng-container *ngFor="let criteria of criteriaList">
                      <h6>{{criteria}}</h6>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#Devices{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Devices <i id="deviceIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="Devices{{i}}">
                  <div class="card card-body">

<!--                    <ul style="list-style-type:none;">-->
<!--                      <li *ngFor="let devices of this.deviceAndPoints;let d = index;trackBy: trackByIndex;">-->
<!--                        <div class="form-check">-->
<!--                          <input class="form-check-input" type="checkbox" value="device" [checked]=devices.checked-->
<!--                                 (change)="addOrRemove(devices.deviceName, $event, d, k)" id="{{devices.deviceName}}">-->
<!--                          <label class="form-check-label" for="{{devices.deviceName}}">-->
<!--                            {{devices.deviceName}}{{k}}-->
<!--                          </label>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                    </ul>-->

                    <ul style="list-style-type:none;">
                      <li *ngFor="let device of devices">
                        <h6>{{device.deviceName}}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#pointNames{{i}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Point Names <i id="pointNamesIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="pointNames{{i}}">
                  <div class="card card-body">
                    <h6>AverageZomeTemperature</h6>
                    <h6>CoolingTemperatureSetPoint</h6>
                    <h6>FirstStageCooling</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <h5>Criteria Configuration</h5>
              <div>
                <ng-container
                  *ngFor="let list of curtailmentModelList[i].curtailmentList;let index = index;trackBy: trackByIndex;">
                  <div class="collapse-division">
                    <label class="collapse-division-label">
                      <a data-toggle="collapse" href="#{{index}}{{i}}" role="button"
                         aria-expanded="false" aria-controls="zoneTemp">
                        {{devices[index].deviceName}} {{curtailmentModelList[i].curtailmentList[index].firstStageCooling.deviceTopic}}
                        <i class="material-icons float-right">
                          keyboard_arrow_down
                        </i>
                      </a>
                    </label>
                    <div class="collapse" id="{{index}}{{i}}">
                      <div class="card card-body">
                        <div>
                          <h5>First Stage Cooling</h5>

                          <p><label>Device Status</label></p>

                          <mat-form-field style="width: 100%" class="example-full-width">
                            <input matInput placeholder="Device Status Arguments "
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].firstStageCooling.deviceStatus.deviceStageArgs">
                          </mat-form-field>


                          <mat-form-field style="width: 100%" class="example-full-width">
                            <input matInput placeholder="Condition"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].firstStageCooling.deviceStatus.condition">
                          </mat-form-field>

                          <h5>Curtailment Setting</h5>

                          <mat-form-field style="width: 100%" class="example-full-width">
                            <input matInput placeholder="Point"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.point">
                          </mat-form-field>

                          <mat-form-field style="width: 100%">
                            <mat-label>Curtailment Method</mat-label>
                            <mat-select
                              [(ngModel)]=curtailmentModelList[i].curtailmentList[index].curtailmentSetting.curtailmentMethod>
                              <mat-option value="Offset">Offset</mat-option>
                              <mat-option value="Value">Value</mat-option>
                              <mat-option value="Equation">Equation</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field style="width: 100%" class="example-full-width"
                                          *ngIf="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.curtailmentMethod == 'Offset' ">
                            <input matInput placeholder="Offset"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.offset">
                          </mat-form-field>
                          <mat-form-field style="width: 100%" class="example-full-width"
                                          *ngIf="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.curtailmentMethod == 'Value' ">
                            <input matInput placeholder="Value"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.value">
                          </mat-form-field>
                          <mat-form-field style="width: 100%" class="example-full-width"
                                          *ngIf="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.curtailmentMethod == 'Equation' ">
                            <input matInput placeholder="Equation"
                                   [(ngModel)]="curtailmentModelList[i].curtailmentList[index].curtailmentSetting.Equation">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-sm">
              <div class="row">
                <h5 style="margin-left: 3%">File Preview</h5>
                <button style="margin-left: 3%" class="btn  button-size"
                        (click)="onRefreshButton(i)">Refresh
                </button>
                <button style="margin-left: 3%" class="btn  button-size"
                        (click)="saveCurtailmentCalculation(i)">Save
                </button>
              </div>
              <textarea id="checktext">
          {{curtailmentModelList[i].setFinalCalulation()}}
          </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>







