.division {
  float: left;
  width: 29%;
  margin-left: 50px;
}

.collapse-division {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #003114;
  border: none;
}

button{
  background-color: #0C9A6F;
  color: white;
}

button:hover{
  background-color: #B3DAF2;
  color: black;
}

.collapse-division-label {
  width: 100%;
  background-color: #003114;
  color: white;
  font-size: 20px;
}

textarea {
  margin-top: 2%;
  background-color: lightgray;
  width: 90%;
  height: 80%;
}

.div-inbetween-padding {
  margin-top: 5%;
}

.col-sm{
  margin-top: 3%;
}

h5{
  color: white;
}

a{
  color: white;
  padding-left: 2%;
}

.button-size {
  width: 100px;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
}

.col-sm{
  padding-left: 2%;
  padding-right: 2%;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.container{
  width: 100%;
  max-width: none;
  padding: 0;
}
