
.collapse-division {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #003114;
  border: none;
}

a{
  color: white;
  padding-left: 2%;
}

h5{
  color: white;
}

button{
  background-color: #0C9A6F;
  color: white;
}



.collapse-division-label {
  width: 100%;
  background-color: #003114;
  color: white;
  font-size: 20px;
}

textarea {
  margin-top: 2%;
  background-color: white;
  width: 90%;
  height: 80%;
}

.button-size {
  width: 100px;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
}
.col{
  margin-top: 2%;
}

.example-full-width {
  width: 100%;
}
