<div class="division">

  <div class="collapse-division">
    <label class="collapse-division-label">
      <h5  data-toggle="collapse" href="#ilcConfig" role="button"
          aria-expanded="false" aria-controls="zoneTemp">
        ILC Config  <i id="ilcConfigIcon" class="material-icons">
        keyboard_arrow_down
      </i>
      </h5>
    </label>
    <div class="collapse" id="ilcConfig">
      <div class="card card-body">
        <h6>Current Device Topic Stem</h6>
        <h6>CAMPUS/BUILDING</h6>
      </div>
    </div>
  </div>

  <div class="collapse-division div-inbetween-padding">
    <label class="collapse-division-label">
      <h5  data-toggle="collapse" href="#criteria" role="button"
          aria-expanded="false" aria-controls="zoneTemp">
        Criteria  <i id="criteriaIcon" class="material-icons ">
        keyboard_arrow_down
      </i>
      </h5>
    </label>
    <div class="collapse" id="criteria">
      <div class="card card-body">
        <h6>Ctriteria Names</h6>
        <h6>zonetemperature</h6>
        <h6>stage</h6>
        <h6>history-zonetemperature</h6>
        <h6>rated-power</h6>
        <h6>room-type</h6>
      </div>
    </div>
  </div>

  <div class="collapse-division div-inbetween-padding">
    <label class="collapse-division-label">
      <h5  data-toggle="collapse" href="#Devices" role="button"
           aria-expanded="false" aria-controls="zoneTemp">
        Devices  <i id="deviceIcon"  class="material-icons">
        keyboard_arrow_down
      </i>
      </h5>
    </label>
    <div class="collapse" id="Devices">
      <div class="card card-body">
        <h6>HP1</h6>
        <h6>HP2</h6>
        <h6>HP3</h6>
        <h6>HP4</h6>
        <h6>HP5</h6>
        <h6>HP6</h6>
        <h6>HP7</h6>
        <h6>HP8</h6>
        <h6>HP9</h6>
        <h6>HP10</h6>
      </div>
    </div>
  </div>

  <div class="collapse-division div-inbetween-padding">
    <label class="collapse-division-label">
      <h5  data-toggle="collapse" href="#pointNames" role="button"
           aria-expanded="false" aria-controls="zoneTemp">
        Point Names  <i id="pointNamesIcon" class="material-icons icon-padding-point">
        keyboard_arrow_down
      </i>
      </h5>
    </label>
    <div class="collapse" id="pointNames">
      <div class="card card-body">
        <h6>AverageZomeTemperature</h6>
        <h6>CoolingTemperatureSetPoint</h6>
        <h6>FirstStageCooling</h6>
      </div>
    </div>
  </div>
</div>

<div class="division">
  <h5>Criteria Configuration</h5>
  <div>
    <ul style="list-style-type:none;">
      <li *ngFor="let hp of ctriteria">
        <div class="collapse-division">
          <label class="collapse-division-label">
            <a  data-toggle="collapse" href="#{{hp}}" role="button"
                 aria-expanded="false" aria-controls="zoneTemp">
              {{hp}} <i class="material-icons hp-icon-padding">
              keyboard_arrow_down
            </i>
            </a>
          </label>
          <div class="collapse" id="{{hp}}">
            <div class="card card-body">
              <div>
                <label>Stage Name</label>
                <input type="text" class="form-control">
                <div class="collapse-division">
                  <label class="collapse-division-label">
                    <a  data-toggle="collapse" href="#zonetemperature{{hp}}" role="button"
                        aria-expanded="false" aria-controls="zoneTemp">
                      zonetemperature-setpoint <i class="material-icons">
                      keyboard_arrow_down
                    </i>
                    </a>
                  </label>
                  <div class="collapse" id="zonetemperature{{hp}}">
                    <div class="card card-body">
                      <div class="btn-group">
                        <button type="button" style="width: 50%" class="btn btn-outline-secondary btn-sm">Action</button>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <p class="dropdown-item" >Action</p>
                          <p class="dropdown-item" >Another action</p>
                          <p class="dropdown-item" >Something else here</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="division">
  <div class="row">
    <h5 style="margin-left: 3%">File Preview</h5>
    <a style="margin-left: 3%"class="btn btn-outline-dark  button-size" >Refresh</a>
    <a style="margin-left: 3%"class="btn btn-outline-dark  button-size" >Save As...</a>
  </div>
  <textarea>

    </textarea>
</div>
