<div class="accordion" id="accordionExample" style="height: 80%; margin-left: 20px; margin-right: 20px;">
  <ng-container *ngFor="let cluster of clusterList;let k = index;trackBy: trackByIndex;">

    <div class="card" style="margin-bottom: 10px; border-left: 6px solid black">
      <div class="card-header border border-secondary" id="headingOne"
           style="text-align: center; ">
        <label class="collapse-division-label">
          <a data-toggle="collapse" href="#demo{{k}}" role="button" aria-expanded="false" aria-controls="zoneTemp">
            {{cluster._deviceCriteriaFile}}  <i class="material-icons float-right">
            keyboard_arrow_down
          </i>
          </a>
        </label>
      </div>
      <div id="demo{{k}}" class="collapse border border-dark" style="height: 100%"
           aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="row">
          <div class="division">
            <div class="collapse-division border border-secondary">
              <label class="collapse-division-label">
                <h5 data-toggle="collapse" href="#ilcConfig" role="button"
                    aria-expanded="false" aria-controls="zoneTemp">
                  ILC Config <i id="ilcConfigIcon" class="material-icons float-right">
                  keyboard_arrow_down
                </i>
                </h5>
              </label>
              <div class="collapse" id="ilcConfig">
                <div class="card card-body">
                  <h6>Current Device Topic Stem</h6>
                  <h6>CAMPUS/BUILDING</h6>
                </div>
              </div>
            </div>
            <div class="collapse-division div-inbetween-padding border border-secondary">
              <label class="collapse-division-label">
                <h5 data-toggle="collapse" href="#criteria" role="button"
                    aria-expanded="false" aria-controls="zoneTemp">
                  Criteria <i id="criteriaIcon" class="material-icons float-right">
                  keyboard_arrow_down
                </i>
                </h5>
              </label>
              <div class="collapse" id="criteria">
                <div class="card card-body">
                  <h5>Ctriteria Names</h5>
                  <ng-container *ngFor="let criteria of criteriaList;let j = index;trackBy: trackByIndex;">
                    <h6>{{criteria}}
                    </h6>
                    <hr>
                  </ng-container>
                  <div class="row border border-secondary collapse-division" *ngIf="getCriteria">
                    <mat-form-field class="example-full-width " style="width: 80%; margin-left: 20px">
                      <input matInput placeholder="Enter Criteria Name Here" [(ngModel)]="getCriteriaValue">
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <div class="collapse-division div-inbetween-padding border border-secondary">
              <label class="collapse-division-label">
                <h5 data-toggle="collapse" href="#Devices" role="button"
                    aria-expanded="false" aria-controls="zoneTemp">
                  Devices <i id="deviceIcon" class="material-icons float-right">
                  keyboard_arrow_down
                </i>
                </h5>
              </label>
              <div class="collapse" id="Devices">
                <div class="card card-body">
                  <ul style="list-style-type:none;">
                    <li *ngFor="let device of devices">
                      <h6>{{device}}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="collapse-division div-inbetween-padding border border-secondary">
              <label class="collapse-division-label">
                <h5 data-toggle="collapse" href="#pointNames" role="button"
                    aria-expanded="false" aria-controls="zoneTemp">
                  Point Names <i id="pointNamesIcon" class="material-icons float-right">
                  keyboard_arrow_down
                </i>
                </h5>
              </label>
              <div class="collapse" id="pointNames">
                <div class="card card-body">
                  <h6>AverageZomeTemperature</h6>
                  <h6>CoolingTemperatureSetPoint</h6>
                  <h6>FirstStageCooling</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="division">
            <h5>Criteria Configuration</h5>
            <div>
              <ng-container *ngFor="let device of devices;let index = index;trackBy: trackByIndex;">
                <div class="collapse-division border border-dark">
                  <label class="collapse-division-label">
                    <a data-toggle="collapse" href="#{{devices[index]}}{{k}}" role="button"
                       aria-expanded="false" aria-controls="zoneTemp">
                      {{device}}  {{campus}}/{{building}}/{{device}}
                      <i class="material-icons float-right">
                        keyboard_arrow_down
                      </i>
                    </a>
                  </label>
                  <div class="collapse" id="{{devices[index]}}{{k}}">
                    <div class="card card-body">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Stage Name"></mat-form-field>
                      <ng-container *ngFor="let criteria of criteriaList[k];let i = index;trackBy: trackByIndex;">
                        <div>
                          <div class="collapse-division border border-secondary">
                            <label class="collapse-division-label">
                              <a data-toggle="collapse" href="#{{k}}{{i}}{{index}}" role="button"
                                 aria-expanded="false" aria-controls="zoneTemp">
                                {{criteria}} {{k}}{{i}}{{index}}
                                <i class="material-icons float-right">
                                  keyboard_arrow_down
                                </i>
                              </a>
                            </label>
                            <div class="collapse" id="{{k}}{{i}}{{index}}">
                              <div class="card card-body">
                                <div class="input-group mb-3">
                                  <mat-form-field style="width: 100%">
                                    <mat-label>Choose Operation Type</mat-label>
                                    <mat-select  [(ngModel)] = criteriaModelList[k].operationType[index][i]>
                                      <mat-option value="Formula">Formula</mat-option>
                                      <mat-option value="status">status</mat-option>
                                      <mat-option value="mapper">mapper</mat-option>
                                      <mat-option value="constant">constant</mat-option>
                                      <mat-option value="history">history</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <div *ngIf="criteriaModelList[k].operationType[index][i] == 'Formula'" id="childFormula">
                                    <!--                                    <ng-container-->
                                    <!--                                      *ngFor="let form of criteriaModelList[k].formulaModelArr;let f = index;trackBy: trackByIndex;">-->
                                    <ng-container
                                      *ngFor="let arg of criteriaModelList[k].formulaModel.argument;let x = index;trackBy: trackByIndex;">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Arguments</mat-label>
                                        <mat-select [(ngModel)] = criteriaModelList[k].formulaModel.argument[x]>
                                          <mat-option value="CoolingTemperatureSetPoint">CoolingTemperatureSetPoint
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="always">Always</mat-radio-button>&nbsp;&nbsp;&nbsp;
                                        <mat-radio-button value="not curtailed">Not Curtailed</mat-radio-button>
                                      </mat-radio-group>
                                    </ng-container>
                                    <div>
                                      <button id="addparam" (click)="criteriaModelList[k].formulaModel.addArugiment()" type="button"
                                              class="btn btn-info btn-sm">
                                        Add Argument
                                      </button>
                                    </div>
                                    <br>
                                    <div>
                                      <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="operation"
                                                  [(ngModel)]="criteriaModelList[k].formulaModel.operation"></textarea>
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Minimum(Optional)"
                                               [(ngModel)]="criteriaModelList[k].formulaModel.minimum">
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Maximum(Optional)"
                                               [(ngModel)]="criteriaModelList[k].formulaModel.maximun">
                                      </mat-form-field>
                                    </div>
                                    <!--                                    </ng-container>-->
                                  </div>

                                  <div *ngIf="criteriaModelList[k].operationType[index][i] == 'status'">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Point Value"
                                             [(ngModel)]="criteriaModelList[k].statusModel.pointName">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="On Value"
                                             [(ngModel)]="criteriaModelList[k].statusModel.onValue"></mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Off Value"
                                             [(ngModel)]="criteriaModelList[k].statusModel.offValue"></mat-form-field>
                                  </div>
                                  <div *ngIf="criteriaModelList[k].operationType[index][i] == 'mapper'">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Map Key"
                                             [(ngModel)]="criteriaModelList[k].mapperModel.mapKey"></mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Dist. Name"
                                             [(ngModel)]="criteriaModelList[k].mapperModel.distName"></mat-form-field>
                                  </div>

                                  <div *ngIf="criteriaModelList[k].operationType[index][i] == 'constant'">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Value"
                                             [(ngModel)]="criteriaModelList[k].constantModel.value"></mat-form-field>
                                  </div>

                                  <div *ngIf="criteriaModelList[k].operationType[index][i] == 'history'">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Comparision Type"
                                             [(ngModel)]="criteriaModelList[k].historyModel.comparisonType">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Point Name"
                                             [(ngModel)]="criteriaModelList[k].historyModel.historyPointName">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Previous Time"
                                             [(ngModel)]="criteriaModelList[k].historyModel.previousTime">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Maximum"
                                             [(ngModel)]="criteriaModelList[k].historyModel.historyMaximum">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Maximum"
                                             [(ngModel)]="criteriaModelList[k].historyModel.historyMinimum">
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="division">
            <div class="row">
              <h5 style="margin-left: 3%">File Preview</h5>
              <a style="margin-left: 3%" class="btn btn-outline-dark  button-size"
                 (click)="OnRefreshButton(k)">Refresh</a>
              <a style="margin-left: 3%" class="btn btn-outline-dark  button-size">Save</a>
            </div>
            <textarea id="checktext"></textarea>
          </div>
        </div>

      </div>
    </div>
  </ng-container>
</div>



