<div *ngIf="showCriteriaConfiguartion" class="accordion" id="accordionExample"
     style="height: 80%; margin-left: 2%; margin-right: 2%; margin-top: 2%">
  <ng-container *ngFor="let cluster of clusterList;let k = index;trackBy: trackByIndex;">

    <div class="card" style=" margin-bottom: 3%; border: none">
      <div class="card-header" id="headingOne"
           style="text-align: center; background-color: #003114; border: none; ">
        <label class="collapse-division-label">
          <a data-toggle="collapse" href="#demo{{k}}" role="button" aria-expanded="false" aria-controls="zoneTemp">
            {{cluster.device_criteria_file}}<i class="material-icons float-right" style="font-size: 30px;">
            keyboard_arrow_down
          </i>
          </a>
        </label>
      </div>
      <div id="demo{{k}}" class="collapse " style="height: 100%; background-color: #0E2338"
           aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="collapse-division">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#ilcConfig" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    ILC Config <i id="ilcConfigIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="ilcConfig">
                  <div class="card card-body">
                    <h6>Current Device Topic Stem</h6>
                    <h6>{{this.campus}}/{{this.building}}</h6>
                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#criteria{{k}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Criteria <i id="criteriaIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="criteria{{k}}">
                  <div class="card card-body">
                    <h5>Ctriteria Names</h5>
                    <ng-container *ngFor="let criteria of criteriaList[k];let j = index;trackBy: trackByIndex;">
                      <h6>{{criteria}}</h6>
                      <hr>
                    </ng-container>
                    <div class="row collapse-division" *ngIf="getCriteria">
                      <mat-form-field class="example-full-width " style="width: 80%; margin-left: 20px">
                        <input matInput placeholder="Enter Criteria Name Here" [(ngModel)]="getCriteriaValue">
                      </mat-form-field>
                    </div>

                  </div>
                </div>
              </div>
              <div class="collapse-division div-inbetween-padding">
                <label class="collapse-division-label">
                  <a data-toggle="collapse" href="#Devices{{k}}" role="button"
                     aria-expanded="false" aria-controls="zoneTemp">
                    Devices <i id="deviceIcon" class="material-icons float-right">
                    keyboard_arrow_down
                  </i>
                  </a>
                </label>
                <div class="collapse" id="Devices{{k}}">
                  <div class="card card-body">
                    <ul style="list-style-type:none;">
                      <li *ngFor="let device of this.deviceAndPoints[k];let d = index;trackBy: trackByIndex;">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="device" [checked]=device.checked
                                 (change)="addOrRemove(device.deviceName, $event, d, k)" id="{{device.deviceName}}">
                          <label class="form-check-label" for="{{device.deviceName}}">
                            {{device.deviceName}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <h5>Criteria Configuration</h5>
              <div>
                <ng-container *ngFor="let device of devices[k];let index = index;trackBy: trackByIndex;">
                  <div class="collapse-division " style="width: 100%">

                    <label class="collapse-division-label">
                      <a data-toggle="collapse" href="#{{[index]}}{{k}}" role="button"
                         aria-expanded="false" aria-controls="zoneTemp">
                        {{device.deviceName}}  {{campus}}/{{building}}/{{device.deviceName}}<i
                        class="material-icons float-right">
                        keyboard_arrow_down
                      </i>
                      </a>
                    </label>
                    <div class="collapse" id="{{[index]}}{{k}}">
                      <div class="card card-body">

                        <div style="padding: 1%" class="border border-light rounded">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Stage Name"></mat-form-field>
                          <ng-container *ngFor="let criteria of criteriaList[k];let i = index;trackBy: trackByIndex;">
                            <div>
                              <div class="collapse-division" style="background-color: white">
                                <label class="collapse-division-label" style="background-color: white">
                                  <a style="color: black" data-toggle="collapse" href="#{{k}}{{i}}{{index}}"
                                     role="button"
                                     aria-expanded="false" aria-controls="zoneTemp">
                                    {{criteria}}
                                    <i class="material-icons float-right">
                                      keyboard_arrow_down
                                    </i>
                                  </a>
                                </label>
                                <div class="collapse" id="{{k}}{{i}}{{index}}">
                                  <div class="card card-body" style="background-color: lightgray">
                                    <div class="input-group mb-3">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Choose Operation Type</mat-label>
                                        <mat-select [(ngModel)]=criteriaModelList[k].operationType[index][i]
                                                    (selectionChange)="updateCount(i, index, k, criteriaModelList[k].operationType[index][i])">
                                          <mat-option value="Formula">Formula</mat-option>
                                          <mat-option value="status">status</mat-option>
                                          <mat-option value="mapper">mapper</mat-option>
                                          <mat-option value="constant">constant</mat-option>
                                          <mat-option value="history">history</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <div *ngIf="criteriaModelList[k].operationType[index][i] == 'Formula'"
                                           id="childFormula">
                                        <ng-container
                                          *ngFor="let arg of criteriaModelList[k].formulaModel[index][i].getoperation_args;let x = index;trackBy: trackByIndex;">
                                          <mat-form-field style="width: 100%">
                                            <i (click)="removeFormulaArg(k, index, i, x)" style="color: red" class="material-icons float-right">
                                              remove_circle_outline
                                            </i>
                                            <mat-label>Arguments</mat-label>
                                            <mat-select
                                              [(ngModel)]=criteriaModelList[k].formulaModel[index][i].getoperation_args[x]>
                                              <div *ngFor="let point of device.devicePoints">
                                                <mat-option value="{{point}}">{{point}}</mat-option>
                                              </div>
                                            </mat-select>
                                          </mat-form-field>
                                          <mat-radio-group [(ngModel)]=criteriaModelList[k].formulaModel[index][i].operationArgsCheck[x] aria-label="Select an option">
                                            <mat-radio-button value="always">Always</mat-radio-button>&nbsp;&nbsp;&nbsp;
                                            <mat-radio-button value="not curtailed">Not Curtailed</mat-radio-button>
                                          </mat-radio-group>
                                        </ng-container>
                                        <div>
                                          <button id="addparam"
                                                  (click)="criteriaModelList[k].formulaModel[index][i].addArugiment()"
                                                  type="button"
                                                  class="btn btn-info btn-sm">
                                            Add Argument
                                          </button>
                                        </div>
                                        <br>
                                        <div>
                                          <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="operation"
                                                  [(ngModel)]="criteriaModelList[k].formulaModel[index][i].getoperation"></textarea>
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Minimum(Optional)"
                                                   [(ngModel)]="criteriaModelList[k].formulaModel[index][i].mini">
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Maximum(Optional)"
                                                   [(ngModel)]="criteriaModelList[k].formulaModel[index][i].maximun">
                                          </mat-form-field>

                                        </div>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][i] == 'status'">
                                        <mat-form-field style="width: 100%">
                                          <mat-label>Point Name</mat-label>
                                          <mat-select
                                            [(ngModel)]=criteriaModelList[k].statusModel[index][i].setpointName>
                                            <div *ngFor="let point of device.devicePoints">
                                              <mat-option value="{{point}}">{{point}}</mat-option>
                                            </div>
                                          </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="On Value"
                                                 [(ngModel)]="criteriaModelList[k].statusModel[index][i].setonValue">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Off Value"
                                                 [(ngModel)]="criteriaModelList[k].statusModel[index][i].setoffValue">
                                        </mat-form-field>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][i] == 'mapper'">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Map Key"
                                                 [(ngModel)]="criteriaModelList[k].mapperModel[index][i].setmap_key">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Dist. Name"
                                                 [(ngModel)]="criteriaModelList[k].mapperModel[index][i].setdist_name">
                                        </mat-form-field>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][i] == 'constant'">
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Value"
                                                 [(ngModel)]="criteriaModelList[k].constantModel[index][i].setvalue">
                                        </mat-form-field>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][i] == 'history'">
                                        <!--                                        <mat-form-field class="example-full-width">-->
                                        <!--                                          <input matInput placeholder="Comparision Type"-->
                                        <!--                                                 [(ngModel)]="criteriaModelList[k].historyModel[index][i].setcomparisonType">-->
                                        <!--                                        </mat-form-field>-->


                                        <mat-form-field style="width: 100%">
                                          <mat-label>Comparision Type</mat-label>
                                          <mat-select [(ngModel)]="criteriaModelList[k].historyModel[index][i].setcomparisonType">
                                            <mat-option value="direct">direct</mat-option>
                                            <mat-option value="inverse">inverse</mat-option>
                                          </mat-select>
                                        </mat-form-field>



                                        <mat-form-field style="width: 100%">
                                          <mat-label>Point Name</mat-label>
                                          <mat-select
                                            [(ngModel)]=criteriaModelList[k].historyModel[index][i].sethistoryPointName>
                                            <div *ngFor="let point of device.devicePoints">
                                              <mat-option value="{{point}}">{{point}}</mat-option>
                                            </div>
                                          </mat-select>
                                        </mat-form-field>


                                        <!--                                        <mat-form-field class="example-full-width">-->
                                        <!--                                          <input matInput placeholder="Point Name"-->
                                        <!--                                                 [(ngModel)]="criteriaModelList[k].historyModel[index][i].sethistoryPointName">-->
                                        <!--                                        </mat-form-field>-->





                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Previous Time"
                                                 [(ngModel)]="criteriaModelList[k].historyModel[index][i].setpreviousTime">
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Maximum"
                                                 [(ngModel)]="criteriaModelList[k].historyModel[index][i].sethistoryMaximum">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Maximum"
                                                 [(ngModel)]="criteriaModelList[k].historyModel[index][i].sethistoryMinimum">
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <hr>
                        <p *ngIf="criteriaModelList[k].showAugmentSection[index]" class="h5">Augment</p>
                        <div style="padding: 1%" class="border border-light rounded"
                             *ngIf='criteriaModelList[k].showAugmentSection[index]'>
                          <ng-container *ngFor="let criteria of criteriaList[k];let j = index;trackBy: trackByIndex;">
                            <div>
                              <div class="collapse-division" style="background-color: white">
                                <label class="collapse-division-label" style="background-color: white">
                                  <a style="color: black" data-toggle="collapse" href="#{{k}}{{j}}{{index}}augment"
                                     role="button"
                                     aria-expanded="false" aria-controls="zoneTemp1">
                                    {{criteria}}
                                    <i class="material-icons float-right">
                                      keyboard_arrow_down
                                    </i>
                                  </a>
                                </label>
                                <div class="collapse" id="{{k}}{{j}}{{index}}augment">
                                  <div class="card card-body" style="background-color: lightgray">
                                    <div class="input-group mb-3">
                                      <mat-form-field style="width: 100%">
                                        <mat-label>Choose Operation Type</mat-label>
                                        <mat-select [(ngModel)]=criteriaModelList[k].operationType[index][j]
                                                    (selectionChange)="updateCount(j, index, k, criteriaModelList[k].operationType[index][j])">
                                          <mat-option value="Formula">Formula</mat-option>
                                          <mat-option value="status">status</mat-option>
                                          <mat-option value="mapper">mapper</mat-option>
                                          <mat-option value="constant">constant</mat-option>
                                          <mat-option value="history">history</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <div *ngIf="criteriaModelList[k].operationType[index][j] == 'Formula'"
                                           id="childFormulaAugment">
                                        <ng-container
                                          *ngFor="let arg of criteriaModelList[k].augmentFormulaModel[index][j].getoperation_args;let x = index;trackBy: trackByIndex;">
                                          <mat-form-field style="width: 100%">
                                            <mat-label>Arguments</mat-label>
                                            <mat-select
                                              [(ngModel)]=criteriaModelList[k].augmentFormulaModel[index][j].getoperation_args[x]>
                                              <div *ngFor="let point of device.devicePoints">
                                                <mat-option value="{{point}}">{{point}}</mat-option>
                                              </div>
                                            </mat-select>
                                          </mat-form-field>
                                          <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button value="always">Always</mat-radio-button>&nbsp;&nbsp;&nbsp;
                                            <mat-radio-button value="not curtailed">Not Curtailed</mat-radio-button>
                                          </mat-radio-group>
                                        </ng-container>
                                        <div>
                                          <button id="addparamaugment"
                                                  (click)="criteriaModelList[k].augmentFormulaModel[index][j].addArugiment()"
                                                  type="button"
                                                  class="btn btn-info btn-sm">
                                            Add Argument
                                          </button>
                                        </div>
                                        <br>
                                        <div>
                                          <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="operation"
                                                  [(ngModel)]="criteriaModelList[k].augmentFormulaModel[index][j].getoperation"></textarea>
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Minimum(Optional)"
                                                   [(ngModel)]="criteriaModelList[k].augmentFormulaModel[index][j].mini">
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder="Maximum(Optional)"
                                                   [(ngModel)]="criteriaModelList[k].augmentFormulaModel[index][j].maximun">
                                          </mat-form-field>
                                        </div>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][j] == 'status'">

                                        <mat-form-field style="width: 100%">
                                          <mat-label>Point Name</mat-label>
                                          <mat-select
                                            [(ngModel)]=criteriaModelList[k].augmentStatusModel[index][j].setpointName>
                                            <div *ngFor="let point of device.devicePoints">
                                              <mat-option value="{{point}}">{{point}}</mat-option>
                                            </div>
                                          </mat-select>
                                        </mat-form-field>



                                        <!--                                        <mat-form-field class="example-full-width">-->
                                        <!--                                          <input matInput placeholder="Point Value"-->
                                        <!--                                                 [(ngModel)]="criteriaModelList[k].augmentStatusModel[index][j].setpointName">-->
                                        <!--                                        </mat-form-field>-->
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="On Value"
                                                 [(ngModel)]="criteriaModelList[k].augmentStatusModel[index][j].setonValue">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Off Value"
                                                 [(ngModel)]="criteriaModelList[k].augmentStatusModel[index][j].setoffValue">
                                        </mat-form-field>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][j] == 'mapper'">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Map Key"
                                                 [(ngModel)]="criteriaModelList[k].augmentMapperModel[index][j].setmap_key">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Dist. Name"
                                                 [(ngModel)]="criteriaModelList[k].augmentMapperModel[index][j].setdist_name">
                                        </mat-form-field>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][j] == 'constant'">
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Value"
                                                 [(ngModel)]="criteriaModelList[k].augmentConstantModel[index][j].setvalue">
                                        </mat-form-field>
                                      </div>

                                      <div *ngIf="criteriaModelList[k].operationType[index][j] == 'history'">

                                        <mat-form-field style="width: 100%">
                                          <mat-label>Comparision Type</mat-label>
                                          <mat-select [(ngModel)]=criteriaModelList[k].augmentHistoryModel[index][j].setcomparisonType>
                                            <mat-option value="direct">direct</mat-option>
                                            <mat-option value="inverse">inverse</mat-option>
                                          </mat-select>
                                        </mat-form-field>


                                        <!--                                        <mat-form-field class="example-full-width">-->
                                        <!--                                          <input matInput placeholder="Comparision Type"-->
                                        <!--                                                 [(ngModel)]="criteriaModelList[k].augmentHistoryModel[index][j].setcomparisonType">-->
                                        <!--                                        </mat-form-field>-->

                                        <mat-form-field style="width: 100%">
                                          <mat-label>Point Name</mat-label>
                                          <mat-select
                                            [(ngModel)]=criteriaModelList[k].augmentHistoryModel[index][j].sethistoryPointName>
                                            <div *ngFor="let point of device.devicePoints">
                                              <mat-option value="{{point}}">{{point}}</mat-option>
                                            </div>
                                          </mat-select>
                                        </mat-form-field>


                                        <!--                                        <mat-form-field class="example-full-width">-->
                                        <!--                                          <input matInput placeholder="Point Name"-->
                                        <!--                                                 [(ngModel)]="criteriaModelList[k].augmentHistoryModel[index][j].sethistoryPointName">-->
                                        <!--                                        </mat-form-field>-->
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Previous Time"
                                                 [(ngModel)]="criteriaModelList[k].augmentHistoryModel[index][j].setpreviousTime">
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Maximum"
                                                 [(ngModel)]="criteriaModelList[k].augmentHistoryModel[index][j].sethistoryMaximum">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                          <input type="number" matInput placeholder="Maximum"
                                                 [(ngModel)]="criteriaModelList[k].augmentHistoryModel[index][j].sethistoryMinimum">
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <hr *ngIf="addaugment">
                        <button *ngIf="!criteriaModelList[k].showAugmentSection[index]" id="addAugment"
                                class="float-left"
                                (click)="addAugmentSexction(k, index)"
                                style="color: #1BA781; margin-top: 1%; background-color: white; border-color: #1BA781">
                          <i class="material-icons float-left">add</i> Add Augment
                        </button>

                        <button *ngIf="criteriaModelList[k].showAugmentSection[index]" id="removeAugment"
                                class="float-left"
                                (click)="addAugmentSexction(k, index)"
                                style="color: maroon; margin-top: 1%; background-color: white; border-color: maroon">
                          <i class="material-icons float-left">remove_circle_outline</i> Remove Augment
                        </button>


                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <h5 class="heading" style="margin-left: 3%">File Preview</h5>
                <button (click)="OnRefreshButton(k)" class="btn button-size">
                  <i class="material-icons float-left">autorenew</i>Refresh
                </button>
                <button href=#finalCal class="btn  button-size"
                        download="finalCalculation">
                  <i class="material-icons float-left">
                    get_app
                  </i>Save
                </button>
              </div>


              <textarea id="checktext">
               {{criteriaModelList[k].setFinalCalulation(criteriaList, k)}}
            </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="!showCriteriaConfiguartion" style="text-align: center">
  <h3 style="color: #1BA781; margin-top: 5%">Please Create Cluster !!</h3>
</div>
