
.collapse-division {
  margin-top: 10px;
  margin-bottom: 2%;
  background-color: #003114;

}

.button-size {
  width: 90px;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}

.sub-collapse-label{
  padding-left: 2%;
  font-size: 17px;
  color: white;
}

.collapse-division-label {
  width: 100%;
  background-color: #003114;
  color: white;
  font-size: 17px;
}

textarea {
  background-color: white;
  width: 100%;
  height: 95%;
}

.col-padding{
  margin-top: 2%;
}

.div-block {
  background-color: white;
  margin-bottom: 2%;
  padding: 5%;
}

.heading{
  color: white;
  margin-bottom: 5%;
}

button{
  background-color: #0C9A6F;
  color: white;
}

button:hover{
  background-color: #B3DAF2;
  color: black;
}

.col-sm{
  padding-left: 2%;
  padding-right: 2%;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.container{
  width: 100%;
  max-width: none;
  padding: 0;
}
