<div class="row">
  <div class="division" align="left">
      <h5>Installation Configuration</h5>
      <div>
        <label>Campus</label>
        <input type="text" class="form-control" [(ngModel)]="campus">
        <label>Building</label>
        <input type="text" class="form-control" [(ngModel)]="building">
        <div class="collapse-division">
        <label class="collapse-division-label">
          <p  data-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Power Meter
              <i class="material-icons float-right">keyboard_arrow_down</i>
          </p>
        </label>
        <div class="collapse" id="collapseExample">
          <div id="powerMeter"class="card card-body">
            <label>Device</label>
            <input type="text" class="form-control" [(ngModel)]="device">
            <label>Point</label>
            <input type="text" class="form-control" [(ngModel)]="point">
            <label>Demand Formula (Optional)</label>
            <input type="text" class="form-control" [(ngModel)]="demandFormula">
            <ul class="list-unstyled">
              <li *ngFor="let i of demandformulaAgrsArr; let index = index;trackBy: trackByIndex;">
                <label>Demand Formula Arguments (Optional)</label>
                <input type="text" class="form-control" [(ngModel)]="demandformulaAgrsArr[index]">
              </li>
            </ul>
        </div>
          <button id="addparam" (click)="addDemandFormula()" type="button" class="btn btn-info btn-sm">
            Add Parameter
          </button>
        </div>
      </div>
    <label>AgentID</label>
    <input type="text" class="form-control" [(ngModel)]="agentId">
    <label>Demand Limit</label>
    <input type="text" class="form-control" [(ngModel)]="demandLimit">
    <label>Curtailment Time</label>
    <input type="text" class="form-control" [(ngModel)]="curtailmentTime">
    <label>Curtailment Confirm</label>
    <input type="text" class="form-control" [(ngModel)]="curtailmentConfirm">
    <label>Curtailment Break</label>
    <input type="text" class="form-control" [(ngModel)]="curtailmentBreak">
    <label>Building Power Window (Average)</label>
    <input type="text" class="form-control" [(ngModel)]="buildingPowerWindow">
    <input class="check-input" type="checkbox" [(ngModel)]="staggerRelease">Stagger release<br>
    <input class="check-input" type="checkbox" [(ngModel)]="staggerOfftime">Stagger Off time<br>
  </div>
  </div>

  <div class="division " align="left" >
     <div id="clusterBlock">
      <h5 >Clusters</h5>
          <app-cluster [ilc]="ilc" [mainModel] = "mainModel"></app-cluster>
     </div>
  </div>

  <div class="division">
    <div class="row">
      <h5>File Preview</h5>
      <a (click)="onRefeshClick()" class="btn btn-outline-dark  button-size" >Refresh</a>
      <a href=#finalCal class="btn btn-outline-dark  button-size"
         download="finalCalculation" (click)="saveCalculation()">Save As...</a>
    </div>
    <textarea id="finalCal">
      {{finalCalculation}}
          </textarea>
  </div>
</div>
