
button{
  background-color: #0C9A6F;
  color: white;
}

button:hover{
  background-color: #B3DAF2;
  color: black;
}

nav{
  background-color: black !important;
}
navbar-brand{
  color: white;
}

.navbar-nav{
  width: 100%;
}

.liAlign{

  /*display: inline;*/
  margin-bottom: 1px;
}
.button-size {
  text-align: center;
  border-radius: 100px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 60px;
  left: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.navBorder {
  border-bottom: thick double darkgrey;
}

.centered {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centeredContent {
  background-color: white;
  color: black;
  margin-top: 2%;
  padding: 2%;
  text-align: center;
  border: solid #0C9A6F;
  /*margin-left: 20%;*/
  width: 100%;

}

.centeredContentInside {
  background-color: white;
  color: black;
  margin-bottom: 2%;
  text-align: center;
  border: solid #0C9A6F;
}

.centeredContentInside:hover {
  background-color: white;
  color: black;
  margin-bottom: 2%;
  text-align: center;
  border: solid #B3DAF2;

}

.active {
  background-color: #B3DAF2;
  color: black;
}

.activeBar {
  background-color: #B3DAF2;
  color: black;
}

.centeredButtonContent {
  position: absolute;
  padding: 5%;
  margin-top: 40%;
  text-align: center;
  /*background-color: white;*/

}

.center-div {
  text-align: center;
  display: inline-block;
}


.pad-button {
  padding-left: 12px;
}

.button-size {
  width: 200px;
  text-align: center;
  border-radius: 100px;
}

hr {
  border-color: white;
}

h5{
  background-color: #B3DAF2;
  }

.para-size {
  width: 500px;
  text-align: center;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side{
  width: 300px;
  text-align: center;
}

.button-padding{
  margin-top: 25%;
}

.col-padding{
  margin-top: 2%;
}
