<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" href="#" style="color: white">ILC Configuration</a>

  <button *ngIf="showNavButtons" class="navbar-toggler float-left" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 5%">
    <div class="navbar-nav">
      <ul class="nav " *ngIf="showNavButtons">
        <li class="nav-item  liAlign">
          <button id="homeButton" class="btn button-size"
                  (click)="openHome(); activeButton($event)">Home
          </button>
        </li>
        <li class="nav-item pad-button liAlign">
          <button id="ilcConfigButton" class=" btn button-size active"
                  (click)="openIlcConfig(); activeButton($event)">ILC Configuration
          </button>
        </li>
        <li class="nav-item pad-button liAlign">
          <button id="pairwiseButton" class="btn button-size"
                  (click)="openPairwise(); activeButton($event)">Pairwise Configuration
          </button>
        </li>
        <li class="nav-item pad-button liAlign">
          <button id="criteriaButton" class="btn button-size"
                  (click)="openCriteria(); activeButton($event)">Criteria Configuration
          </button>
        </li>
        <li class="nav-item pad-button liAlign">
          <button id="curtailmentButton" class="btn button-size"
                  (click)="openCurtailment(); activeButton($event)">Curtailment Configuration
          </button>
        </li>
      </ul>
    </div>
  </div>

</nav>

<div *ngIf="homeOpen" align="center">

  <h5></h5>
  <hr>
  <h5>ILC Configuration</h5>
  <p>Top Level Configuration. Specify campus, building and  building level
    parameters.
  <p>

  <hr>
  <h5>Pairwise</h5>
  <p>Name and define control criteria.
    Declare relative priority of control criteria
  <p>

  <hr>
  <h5>Criteria Configuration</h5>
  <p>Select Controllable devices. Define how control criteria are evaluated for each device</p>
  <hr>
  <h5>Control Configuration</h5>
  <p>Define how device are evaluated to determine availability to control.Specify
    actions for each devices.</p>
  <hr>

  <input type="file" [(ngModel)]="masterFile" (change)="getMasterDriver($event)" #file hidden>
  <button style="margin-top: 1%" class="btn btn-outline-dark btn-lg " (click)="file.click(); getMasterDriver($event)">
    &nbsp; Upload Master Driver Configuration Store
    <i class="material-icons float-left">
      publish
    </i>
  </button>
</div>

<div *ngIf="ilcCongifOpen">
  <app-ilcconfig [ilc]="ilc" [mainModel]="mainModel"></app-ilcconfig>
</div>

<div *ngIf="pairwiseOpen">
  <app-pairwise [ilc]="ilc" [pairwise]="pairwise" [mainModel]="mainModel"></app-pairwise>
</div>

<div *ngIf="criteriaOPen">
  <app-criteria-config [ilc]="ilc" [pairwise]="pairwise" [criteria]="criteria"
                       [formulaModel]="formulaModel" [mainModel]="mainModel"
                       [statusModel]="statusModel" [mapperModel]="mapperModel"
                       [constantModel]="constantModel" [historyModel]="historyModel">
  </app-criteria-config>
</div>

<div *ngIf="curtailmentOpen">
  <app-curtailment-config [ilc]="ilc" [curtailment]="curtailment" [mainModel]="mainModel"></app-curtailment-config>
</div>

<router-outlet></router-outlet>


