
<div align="center" class="padding-div">

  <ul class="list-group">
    <li>
      <a class="btn btn-outline-dark button-size" href="#">ILC Configuration</a>
      <p class="para-size">Top level Configuration. Specify campus, building and building
        parameters that will define volttron installation.</p>
    </li>
    <li>
      <a class="btn btn-outline-dark button-size" href="#">Pairwise</a>
      <p class="para-size">Name and define curtailment criteria. Declare relative priority
        of curtailment criteria.</p>
    </li>
    <li>
      <a class="btn btn-outline-dark button-size" href="#">Criteria Configuration</a>
      <p class="para-size">Delare Device. Define how curtailment criteria are evaluated for
        each stage of each device</p>
    </li>
    <li>
      <a class="btn btn-outline-dark button-size" href="#">Curtailment Configuration</a>
      <p class="para-size">Define how device are evaluated for curtailment availability.Specify
        which actions to apply in order i order to curtail devices.</p>
    </li>
    <li>
      <a class="btn btn-outline-dark button-size" href="#">Open Directory</a>
      <p class="para-size">Edit the configuration files located in a specific directory.</p>
    </li>
    <li>
      <a class="btn btn-outline-dark button-size" href="#">Documentation</a>
      <p class="para-size">read the current version of help and documentation available</p>
    </li>
  </ul>

</div>
