
.pad-button{
  padding-left: 10px;
}


button:focus{
  color: aqua;
}


nav{
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
}

.button-size{
  width: 250px;
  text-align: center;
  border-radius: 100px;
}

hr{
  border-color: black;
}

.para-size{
  width: 500px;
  text-align: center;
}

.padding-div{
  padding-top: 50px;
 }
