<mat-form-field class="example-full-width">
  <input matInput placeholder="Comparision Type" [(ngModel)]="comparisonType"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Point Name" [(ngModel)]="pointName"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Previous Time" [(ngModel)]="previousTime"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Maximum" [(ngModel)]="maximum"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Maximum" [(ngModel)]="minimum"></mat-form-field>
