<mat-form-field class="example-full-width">
  <input matInput placeholder="Comparision Type"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Point Name"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Previous Time"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Maximum"></mat-form-field>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Maximum"></mat-form-field>
