<ng-container *ngFor="let arg of argument;let i = index;trackBy: trackByIndex;">
  <mat-form-field style="width: 100%">
    <mat-label>Arguments</mat-label>
    <mat-select [(ngModel)]="argument[i]">
      <mat-option value="CoolingTemperatureSetPoint">CoolingTemperatureSetPoint</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="always">Always</mat-radio-button>&nbsp;&nbsp;&nbsp;
    <mat-radio-button value="not curtailed">Not Curtailed</mat-radio-button>
  </mat-radio-group>
</ng-container>
<div>
  <button id="addparam" (click)="addArguments()" type="button" class="btn btn-info btn-sm">
    Add Argument
  </button>
</div>
<br>
<div>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="operation" [(ngModel)]="operation"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Minimum(Optional)" [(ngModel)]="minimum"></mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Maximum(Optional)" [(ngModel)]="maximum"></mat-form-field>
</div>
