/* You can add global styles to this file, and also import other style files *
 */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  height: 100%;
  min-height: 100%;
  font-family: Cambria;
  background-color: #0E293C;
}


