
.pad-button{
  padding-left: 10px;
}

.button-size-nav{
  width: 200px;
  text-align: center;
  border-radius: 100px;
}

button:focus{
  color: aqua;
}


nav{
  margin-bottom: 30px;
}

.button-size{
  width: 200px;
  text-align: center;
  border-radius: 100px;
}

hr{
  border-color: black;
}

.para-size{
  width: 500px;
  text-align: center;
}

.padding-div{
  padding-top: 50px;
 }
