.inside-division {
  float: left;
  width: 50%;
}

.collapse-division {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: groove;
}

.button-size {
  width: 90px;
  text-align: center;
  border-radius: 100px;
  margin-left: 10px;
}

textarea {
  margin-top: 2%;
  background-color: lightgray;
  width: 90%;
  height: 80%;
}

.div-inbetween-padding {
  margin-top: 5%;
}
