<div *ngIf="showPairwiseList" style="height: 80%; margin-left: 2%; margin-right: 2%; margin-top: 2%">
  <div class="accordion" id="accordionExample">
    <ng-container *ngFor="let cluster of clusterList;let i = index;trackBy: trackByIndex;">

      <div class="card" style="margin-bottom: 3%; border: none;">
        <div class="card-header" id="headingOne"
             style="text-align: center; background-color: #003114;">
          <label class="collapse-division-label">
            <a data-toggle="collapse" href="#demo{{i}}" role="button" aria-expanded="false" aria-controls="zoneTemp">
              {{cluster.pairwise_criteria_file}}
              <i class="material-icons float-right" style="font-size: 30px;">
                keyboard_arrow_down
              </i>
            </a>
          </label>
        </div>
        <div id="demo{{i}}" class="collapse " style="background-color: #0E2338" aria-labelledby="headingOne"
             data-parent="#accordionExample">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div id="detailsDivision" class="col-sm">
                  <h5>Criteria</h5>
                  <div class="collapse-division">
                    <label class="collapse-division-label sub-collapse-division-label">
                      <a class="sub-collapse-label" data-toggle="collapse" href="#criteria{{i}}" role="button"
                         aria-expanded="false" aria-controls="zoneTemp">
                        Criteria Name (One per Line) <i id="criteriaIcon" class="material-icons float-right">
                        keyboard_arrow_down
                      </i>
                      </a>
                    </label>
                    <div class="collapse" id="criteria{{i}}">
                      <div class="card card-body">
                        <h5>Ctriteria Names</h5>
                        <ng-container
                          *ngFor="let criteria of pairwiseCriteriaList[i];let k = index;trackBy: trackByIndex;">
                          <h6>{{criteria}}
                            <button (click)="removeCriteria(i, k)"
                                    style="color: crimson; background-color: transparent; border: none"
                                    class="material-icons float-right">
                              close
                            </button>
                          </h6>
                          <hr>
                        </ng-container>

<!--                        <div align="center" class="row collapse-division"-->
<!--                             style="background-color: white; border: groove #1BA781" *ngIf="getCriteria">-->
<!--                          <mat-form-field class="example-full-width " style="width: 80%;margin-left: 5px">-->
<!--                            <input matInput placeholder="Enter Criteria Name Here" [(ngModel)]="getCriteriaValue">-->
<!--                          </mat-form-field>-->
<!--                          <button (click)="UpdateCriteriaList(i, pairwiseCriteriaList[i].length)"-->
<!--                                  style="color: green; background-color: transparent; border: none"-->
<!--                                  class="material-icons float-right">-->
<!--                            check-->
<!--                          </button>-->
<!--                        </div>-->


                        <div  class="row" *ngIf="getCriteria" style="margin-bottom: 2%; width: 100%">
                          <mat-form-field class="example-full-width rounded-left" style="width: 80%;
                            background-color: white; padding-left: 1px;padding-top: 1%">
                            <input matInput placeholder="Enter Criteria Name Here" [(ngModel)]="getCriteriaValue">
                          </mat-form-field>
                          <button  (click)="UpdateCriteriaList(i, pairwiseCriteriaList[i].length)"
                                   style="color: #1BA781; background-color: white; border: none">
                            <i class="material-icons float-left">
                              check
                            </i>
                          </button>
                        </div>


                        <button id="addcriteria" (click)="addCriteria()" type="button" class="btn btn-info btn-sm">
                          Add Criteria
                        </button>
                      </div>
                    </div>
                  </div>
                  <button style="margin-left: 15%; border-radius: 100px" type="button"
                          class="btn div-inbetween-padding" (click)="generateCamparisons()">
                    Generate Comparisons
                  </button>
                </div>
                <div id="workDivision" class="col-sm" *ngIf="generate">
                  <h5>Pairwise Criteria</h5>
                  <div>
                    <ng-container
                      *ngFor="let mainCriteria of pairwiseCriteriaList[i];let index = index;trackBy: trackByIndex;">
                      <div class="collapse-division">
                        <label class="collapse-division-label sub-collapse-division-label">
                          <a class="sub-collapse-label" data-toggle="collapse"
                             href="#historyZoneTempPoints{{index}}{{i}}" role="button"
                             aria-expanded="false" aria-controls="zoneTemp">
                            {{mainCriteria}}  <i class="material-icons float-right">
                            keyboard_arrow_down
                          </i>
                          </a>
                        </label>
                        <div class="collapse" id="historyZoneTempPoints{{index}}{{i}}">
                          <div class="card card-body">
                            <div class="row">
                              <label>Criteria</label>
                              <div class="row" style="margin-left: 50%; width: 100%">
                                <h6 class="float-left">Less</h6>
                                <h6 class="float-right" style="margin-left: 30%;">More</h6>
                              </div>
                            </div>
                            <!--                          <label>Criteria</label>-->
                            <ul style="list-style-type:none;">
                              <li
                                *ngFor="let criteiaList of remainingList(i, index, mainCriteria);let j = index;trackBy: trackByIndex;">
                                <div class="row">
                                  <div class="inside-division">
                                    <h6>{{criteiaList}} </h6>
                                  </div>
                                  <div class="row">
                                    <mat-slider style="width: 90%" id="{{criteiaList}}%{{mainCriteria}}" min="2"
                                                max="20"
                                                value="11" invert
                                                step="1" tickInterval="1"
                                                (input)="updateSliderValue($event, j, index, i)">
                                      (change)="updateValues($event, criteiaList ,mainCriteria)">
                                    </mat-slider>
                                    <p>{{pairwiseList[i].sliderValue[index][j]}}</p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div id="textboxDivisin" class="col-sm">
                  <div class="row">
                    <h5 class="heading" style="margin-left: 3%">File Preview</h5>
                    <button (click)="onRefreshButton(i)" class="btn btn-outline-dark btn-sm button-size">
                      <i class="material-icons float-left">autorenew</i>Refresh
                    </button>
                    <button href=#finalCal class="btn btn-outline-dark btn-sm button-size"
                            download="finalCalculation" (click)="savePairwiseCalculation(i)">
                      <i class="material-icons float-left">
                        get_app
                      </i>Save
                    </button>

                    <!--                    <h5 style="margin-left: 3%">File Preview</h5>-->
                    <!--                    <a style="margin-left: 3%" class="btn btn-outline-dark btn-sm button-size"-->
                    <!--                       (click)="onRefreshButton(i)">Refresh</a>-->
                    <!--                    <a style="margin-left: 3%" class="btn btn-outline-dark btn-sm button-size"-->
                    <!--                       (click)="savePairwiseCalculation(i)">Save</a>-->
                  </div>
                  <textarea id="checktext">
                  {{pairwiseList[i].pairwiaseCalculation}}
                </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="!showPairwiseList" style="text-align: center">
  <h3 style="color: #1BA781; margin-top: 5%">Please Create Cluster !!</h3>
</div>
